<form class="container-fluid w-75 mx-auto">
  <div class="form-group">
    <h3>New Idea</h3>
    <hr>
    <textarea [maxLength]="textareaLength" [(ngModel)]="idea.text" class="form-control" id="idea" rows="3" placeholder="Enter here for idea..."
      [ngModelOptions]="{standalone: true}">
        </textarea>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a class="btn btn-primary text-white" (click)="newIdea()">Add</a>
    </div>
    <div class="col-md-6">
        <span class="text-right">
          <small class="form-text text-muted">{{idea.text!=null ? idea.text.length : 0 }}/{{textareaLength}}</small>
        </span>
      </div>
  </div>
</form>