<app-idea [idea]="this.idea" [color]="0"></app-idea>
<br>

<div class="container w-75 mx-auto">
  <div class="row ">
    <div class="col-md-12 mx-auto">
      <div class="twt-wrapper">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3>Comment</h3>
          </div>
          <div class="panel-body">
            <textarea [(ngModel)]="comment.text"  class="form-control" placeholder="Enter here for comment..." rows="3"></textarea>
            <br />
            <a href="#" class="btn btn-primary btn-sm pull-right" (click)="newComment($event)">Comment</a>
            <div class="clearfix"></div>
            <hr />
            <ul class="media-list">
              <li class="media" *ngFor="let comment of comments">
                <app-comment *ngIf="fullComments" [comment]="comment"></app-comment>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
