<div class="media-body">
  <a href="#" class="pull-left">
    <img src="../../../assets/img/user.png" alt="" class="img-circle maxwidth" />
  </a>
  <span class="text-muted pull-right" *ngIf="isUserLoggedIn()">
    <small class="text-muted">{{comment.dateComment}}</small>
    <button  class="btn btn-link" alt="Modify" (click)="modifyComment()">
      <fa name="edit" alt="Modify"></fa>
    </button>|
    <button type="button" class="btn btn-link" alt="Delete" (click)="deleteComment()">
      <fa name="trash"></fa>
    </button>
  </span>

  <strong class="text-success">@User &nbsp;&nbsp;&nbsp;</strong>
  <div>
    {{comment.text}}
  </div>

</div>
