<div class="row">
  <div class="col">
    <a href="#">@User</a> ( {{comment.dateComment}} )
    <span class="col-md-6" *ngIf="isUserLoggedIn() && this.router.url != '/admin/eval/comments'">
      <button class="btn btn-link" alt="Modify" (click)="modifyComment()">
        <fa name="edit" alt="Modify"></fa>
      </button>|
      <button class="btn btn-link" alt="Delete" (click)="deleteComment()">
        <fa name="trash"></fa>
      </button>
    </span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{comment.text}}
  </div>
</div>
