<app-idea [idea]="this.idea" [color]="0"></app-idea>
<br>

<div class="container w-75 mx-auto">
  <div class="row ">
    <div class="col-md-12 mx-auto">
      <div class="twt-wrapper">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3>Comment</h3>
          </div>
          <div class="panel-body">
            <textarea [maxLength]="textareaLength" [(ngModel)]="comment.text" class="form-control" placeholder="Enter here for comment..."
              rows="3"></textarea>
            <br />
            <a href="#" class="btn btn-primary btn-sm pull-left" (click)="newComment($event)">Comment</a>
            <span class="text-right">
              <small class="form-text text-muted">{{comment.text!=null ? comment.text.length : 0 }}/{{textareaLength}}</small>
            </span>
            <div class="clearfix"></div>
            <hr />
            <div class="container w-100">
              <div class="breadcrumb" *ngFor="let comment of comments">
                <app-comment (onDeleteComment)="listComments(this.idea.id)" [comment]="comment"></app-comment>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
